{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "strict": 0,
        "import/no-extraneous-dependencies": [2, {
          "devDependencies": true
        }],
        "arrow-body-style": [
            "error", "always"
        ]
    },
    "env": {
        "mocha": true
    }
}
